aside {
  margin-right: 60px;
  display: inline-block;
  float: left;
  z-index: 6;
  left: 0;
  width: 13%;
  height: 100vh;
  min-height: 100%;
  background-color: #313541;
  box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.3);
}
