<div class="technology-details-section-form">
  <div *ngIf="submitted" class="technology-details-section-confirmation">
    <div class="technology-details-header-confirmation">
      Thanks for your time!
    </div>
    <div class="technology-details-content-confirmation">
      Your data have been send suscessfuly. We will contact you soon.
    </div>
  </div>

  <form (ngSubmit)="onSubmit(technologyDetails)" #technologyDetails="ngForm" *ngIf="!submitted">
    <mat-card class="technology-details-section">
      <mat-card-header class="technology-details-header">
        Professional Profile
      </mat-card-header>
      <mat-card-content class="technology-details-content">
        <div *ngFor="let profile of addProfiles; let i = index" class="col-12 grid languages-row">
          <div class="col-6">
            <h3>Profile</h3>
          </div>
          <div class="col-6">
            <h3>Experience</h3>
          </div>
          <div class="col-5">
            <input-text type="text" id="profile_{{i}}" name="profile_{{i}}" placeholder="Development" ngModel ngDefaultControl required>
            </input-text>
          </div>
          <mat-form-field class="col-5">
            <mat-select id="exp_{{i}}" name="exp_{{i}}" placeholder="Professional" ngModel ngDefaultControl required>
              <mat-option value="1">Academic</mat-option>
              <mat-option value="2">Professional</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-1">
            <button id="addProfile" class="technology-details-add-field-button" (click)="addProfile()" type="button" color="primary"
              mat-raised-button>
              <i class="material-icons md-16">add</i>
            </button>
          </div>
          <div class="col-1" *ngIf="addProfiles.length > 1 && i > 0">
            <button id="removeProfile" class="technology-details-remove-field-button" (click)="removeProfile()" type="button" color="alert"
              mat-raised-button>
              <i class="material-icons md-16">remove</i>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="technology-details-section">
      <mat-card-header class="technology-details-header">
        Development
      </mat-card-header>
      <mat-card-content class="technology-details-content">
        <div class="grid">
          <div class="col-4">
            <h3>Technology</h3>
          </div>
          <div class="col-4">
            <h3>Level</h3>
          </div>
          <div class="col-4">
            <h3>Experience Time</h3>
          </div>
          <div class="col-12">
            <h5>Microsoft</h5>
          </div>
          <div *ngFor="let dev of addDevelopments; let i = index" class="col-12 grid languages-row">
            <div class="col-4">
              <input-text type="text" id="dev_{{i}}" name="dev_{{i}}" placeholder="C#.Net" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <mat-form-field class="col-3">
              <mat-select id="level_{{i}}" name="level_{{i}}" placeholder="Independent" ngModel ngDefaultControl required>
                <mat-option value="1">Junior</mat-option>
                <mat-option value="2">Intermediate</mat-option>
                <mat-option value="3">Independent</mat-option>
                <mat-option value="4">Specialist</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-3">
              <input-text type="text" id="expTime_{{i}}" name="expTime_{{i}}" placeholder="6 years" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <div class="col-1">
              <button id="addDev" class="technology-details-add-field-button" (click)="addDev()" type="button" color="primary" mat-raised-button>
                <i class="material-icons md-16">add</i>
              </button>
            </div>
            <div class="col-1" *ngIf="addDevelopments.length > 1 && i > 0">
              <button id="removeDev" class="technology-details-remove-field-button" (click)="removeDev()" type="button" color="alert" mat-raised-button>
                <i class="material-icons md-16">remove</i>
              </button>
            </div>
          </div>
          <div class="col-12">
            <h5>Open Source</h5>
          </div>
          <div *ngFor="let dev of addDevelopments; let i = index" class="col-12 grid languages-row">
            <div class="col-4">
              <input-text type="text" id="dev_{{i}}" name="dev_{{i}}" placeholder="JEE" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <mat-form-field class="col-3">
              <mat-select id="level_{{i}}" name="level_{{i}}" placeholder="Independent" ngModel ngDefaultControl required>
                <mat-option value="1">Junior</mat-option>
                <mat-option value="2">Intermediate</mat-option>
                <mat-option value="3">Independent</mat-option>
                <mat-option value="4">Specialist</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-3">
              <input-text type="text" id="expTime_{{i}}" name="expTime_{{i}}" placeholder="6 years" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <div class="col-1">
              <button id="addDev" class="technology-details-add-field-button" (click)="addDev()" type="button" color="primary" mat-raised-button>
                <i class="material-icons md-16">add</i>
              </button>
            </div>
            <div class="col-1" *ngIf="addDevelopments.length > 1 && i > 0">
              <button id="removeDev" class="technology-details-remove-field-button" (click)="removeDev()" type="button" color="alert" mat-raised-button>
                <i class="material-icons md-16">remove</i>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="technology-details-section">
      <mat-card-header class="technology-details-header">
        Tools-Applications
      </mat-card-header>
      <mat-card-content class="technology-details-content">
        <div class="grid">
          <div class="col-4">
            <h3>Technology</h3>
          </div>
          <div class="col-4">
            <h3>Level</h3>
          </div>
          <div class="col-4">
            <h3>Experience Time</h3>
          </div>
          <div class="col-12">
            <h5>IDEs (Integrated Development Environment)</h5>
          </div>
          <div *ngFor="let dev of addDevelopments; let i = index" class="col-12 grid languages-row">
            <div class="col-4">
              <input-text type="text" id="dev_{{i}}" name="dev_{{i}}" placeholder="Eclipse" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <mat-form-field class="col-3">
              <mat-select id="level_{{i}}" name="level_{{i}}" placeholder="Independent" ngModel ngDefaultControl required>
                <mat-option value="1">Junior</mat-option>
                <mat-option value="2">Intermediate</mat-option>
                <mat-option value="3">Independent</mat-option>
                <mat-option value="4">Specialist</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-3">
              <input-text type="text" id="expTime_{{i}}" name="expTime_{{i}}" placeholder="6 years" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <div class="col-1">
              <button id="addDev" class="technology-details-add-field-button" (click)="addDev()" type="button" color="primary" mat-raised-button>
                <i class="material-icons md-16">add</i>
              </button>
            </div>
            <div class="col-1" *ngIf="addDevelopments.length > 1 && i > 0">
              <button id="removeDev" class="technology-details-remove-field-button" (click)="removeDev()" type="button" color="alert" mat-raised-button>
                <i class="material-icons md-16">remove</i>
              </button>
            </div>
          </div>
          <div class="col-12">
            <h5>Control Version Tools</h5>
          </div>
          <div *ngFor="let dev of addDevelopments; let i = index" class="col-12 grid languages-row">
            <div class="col-4">
              <input-text type="text" id="dev_{{i}}" name="dev_{{i}}" placeholder="GitHub" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <mat-form-field class="col-3">
              <mat-select id="level_{{i}}" name="level_{{i}}" placeholder="Independent" ngModel ngDefaultControl required>
                <mat-option value="1">Junior</mat-option>
                <mat-option value="2">Intermediate</mat-option>
                <mat-option value="3">Independent</mat-option>
                <mat-option value="4">Specialist</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-3">
              <input-text type="text" id="expTime_{{i}}" name="expTime_{{i}}" placeholder="6 years" ngModel ngDefaultControl required>
              </input-text>
            </div>
            <div class="col-1">
              <button id="addDev" class="technology-details-add-field-button" (click)="addDev()" type="button" color="primary" mat-raised-button>
                <i class="material-icons md-16">add</i>
              </button>
            </div>
            <div class="col-1" *ngIf="addDevelopments.length > 1 && i > 0">
              <button id="removeDev" class="technology-details-remove-field-button" (click)="removeDev()" type="button" color="alert" mat-raised-button>
                <i class="material-icons md-16">remove</i>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <button class="technology-details-submit-button" type="submit" mat-raised-button color="primary" [disabled]="!technologyDetails.form.valid">
      Next
    </button>
  </form>
</div>