<footer>
  <div class="top_footer">
    <div class="top-footer-wrapper">
      <p class="text-footer"> agap2 – a European operational consultancy and engineering group specialised in industry and IT. The Group assists its clients in speeding up their growth by helping them complete their projects. We have a policy of excellence and quality at all levels, in-depth knowledge of the sectors in which we operate, and an exacting and strategic partnership policy. Recruitment of the best employees, combined with excellent prospects for growth within agap2, is the key to our Group's growth.</p>
    </div>
  </div>
  <div class="bottom_footer">
    <div class="bottom-footer-wrapper">
      <div class="credits">© AGAP2 2017</div>
      <div class="legal">
        <a href="http://www.agap2.fr/en/industries/legal-notice/">Legal notice</a>
      </div>
    </div>
  </div>
</footer>
