:host {
  width: 100%;
  flex: 0 0 50px;/*or just height:50px;*/
  margin-top: auto;

  footer {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00376d;
    font-family: "Open Sans", sans-serif;

    .top_footer {
      padding-top: 25px;
      padding-bottom: 15px;
      display: flex;
      justify-content: center;

      .top-footer-wrapper {
        max-width: 960px;
        display: flex;
        align-self: center;
        justify-content: center;

        .text-footer {
          color: #fff;
          font-size: 13px;
          font-weight: 200;
          text-align: center;
        }
      }
    }

    .bottom_footer {
      background: #002c56;
      color: #91aac2;
      padding: 25px 0;
      display: flex;
      justify-content: center;

      .bottom-footer-wrapper {
        max-width: 960px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .credits {
          align-self: flex-start;
          //width: 50%;
          padding-left: 8px;
          padding-right: 8px;
          box-sizing: border-box;
          font-weight: 600;
          font-size: 14px;
          font-family: "Geogrotesque", sans-serif;
        }

        .legal a {
          align-self: flex-end;
          text-decoration: none;
          box-sizing: border-box;
          //text-align: right;
          color: #91aac2;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          font-family: "Geogrotesque", sans-serif;
        }
      }
    }
  }
}
