<div class="personal-details-section-form">
  <div *ngIf="submitted" class="personal-details-section-confirmation">
    <div class="personal-details-header-confirmation">
      Thanks for your time!
    </div>
    <div class="personal-details-content-confirmation">
      Your data have been send suscessfuly. We will contact you soon.
    </div>
  </div>

  <form (ngSubmit)="onSubmit(personalDetails)" #personalDetails="ngForm" *ngIf="!submitted">
    <mat-card class="personal-details-section">
      <mat-card-header class="personal-details-header">
        Personal Details
      </mat-card-header>

      <mat-card-content class="personal-details-content">

        <div class="grid">
          <div class="col-3">
            <input-text type="text" id="name" name="name" ngModel #first="ngModel" ngDefaultControl placeholder="Name" required>
            </input-text>
          </div>

          <div class="col-3">
            <input-text type="text" id="surname" name="surname" ngModel ngDefaultControl placeholder="Last Name(s)" required>
            </input-text>
          </div>

          <div class="col-3">
            <input-text type="number" id="phoneNumber" name="phoneNumber" placeholder="Phone" ngModel ngDefaultControl required>
            </input-text>
          </div>

          <mat-form-field class="col-3">
            <input id="birthDate" name="birthDate" startView="year" [matDatepicker]="birthDate" placeholder="Date of birth" readonly
              ngModel matInput required>
            <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
            <mat-datepicker #birthDate></mat-datepicker>
          </mat-form-field>

          <div class="col-3">
            <input-email id="email" name="email" placeholder="Email" ngModel ngDefaultControl required>
            </input-email>
          </div>

          <div class="col-3">
            <input-email id="email" name="email" placeholder="Confirm your email" ngModel ngDefaultControl required>
            </input-email>
          </div>

          <mat-form-field class="col-3">
            <mat-select id="nationality" name="nationality" placeholder="Nationality" ngModel ngDefaultControl required>
              <mat-option value="argentinian">Argentinian</mat-option>
              <mat-option value="brazilian">Brazilian</mat-option>
              <mat-option value="british">British</mat-option>
              <mat-option value="chinese">Chinese</mat-option>
              <mat-option value="dutch">Dutch</mat-option>
              <mat-option value="french">French</mat-option>
              <mat-option value="german">German</mat-option>
              <mat-option value="greek">Greek</mat-option>
              <mat-option value="indian">Indian</mat-option>
              <mat-option value="italian">Italian</mat-option>
              <mat-option value="portuguese">Portuguese</mat-option>
              <mat-option value="spanish">Spanish</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-select id="role" name="role" placeholder="Role" ngModel ngDefaultControl required>
              <mat-option value="1">Frontend Developer</mat-option>
              <mat-option value="2">Backend Developer</mat-option>
              <mat-option value="3">Systems Administrator</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <textarea id="description" name="description" matInput placeholder="Describe yourself (optional)" ngModel ngDefaultControl>
            </textarea>
          </mat-form-field>
        </div>

      </mat-card-content>

    </mat-card>

    <mat-card class="personal-details-section">
      <mat-card-header class="personal-details-header">
        Education & Languages
      </mat-card-header>

      <mat-card-content class="personal-details-content">

        <div class="grid">
          <!-- COURSES FIELDS ROW -->
          <div *ngFor="let academy of addAcademies; let i = index" class="col-12 grid languages-row">

            <div class="col-3">
              <input-text type="text" id="academy_{{i}}" name="academy_{{i}}" placeholder="Academic education" ngModel ngDefaultControl
                required>
              </input-text>
            </div>

            <div class="col-3">
              <input-text type="text" id="academyInstitution_{{i}}" name="academyInstitution_{{i}}" placeholder="Institution" ngModel ngDefaultControl
                required>
              </input-text>
            </div>

            <mat-form-field class="col-2">
              <input id="academyStartDate_{{i}}" name="academyStartDate_{{i}}" [matDatepicker]="academyStartDate" placeholder="Start date"
                readonly ngModel matInput>
              <mat-datepicker-toggle matSuffix [for]="academyStartDate"></mat-datepicker-toggle>
              <mat-datepicker #academyStartDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-2">
              <input id="academyEndDate_{{i}}" name="academyEndDate_{{i}}" [matDatepicker]="academyEndDate" placeholder="End date" readonly
                ngModel matInput required>
              <mat-datepicker-toggle matSuffix [for]="academyEndDate"></mat-datepicker-toggle>
              <mat-datepicker #academyEndDate></mat-datepicker>
            </mat-form-field>

            <div class="col-1">
              <button id="addAcademy" class="personal-details-add-field-button" (click)="addAcademy()" type="button" color="primary" mat-raised-button>
                <i class="material-icons md-16">add</i>
              </button>
            </div>

            <div class="col-1" *ngIf="addAcademies.length > 1 && i > 0">
              <button id="removeAcademy" class="personal-details-remove-field-button" (click)="removeAcademy()" type="button" color="alert"
                mat-raised-button>
                <i class="material-icons md-16">remove</i>
              </button>

            </div>
          </div>

          <!-- COURSES FIELDS ROW -->
          <div *ngFor="let course of addCourses; let i = index" class="col-12 grid languages-row">

            <div class="col-6">
              <input-text type="text" id="course_{{i}}" name="course_{{i}}" placeholder="Course" ngModel ngDefaultControl>
              </input-text>
            </div>

            <mat-form-field class="col-2">
              <input id="courseStartDate_{{i}}" name="courseStartDate_{{i}}" [matDatepicker]="courseStartDate" placeholder="Start date"
                readonly ngModel matInput>
              <mat-datepicker-toggle matSuffix [for]="courseStartDate"></mat-datepicker-toggle>
              <mat-datepicker #courseStartDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-2">
              <input id="courseEndDate_{{i}}" name="courseEndDate_{{i}}" [matDatepicker]="courseEndDate" placeholder="End date" readonly
                ngModel matInput>
              <mat-datepicker-toggle matSuffix [for]="courseEndDate"></mat-datepicker-toggle>
              <mat-datepicker #courseEndDate></mat-datepicker>
            </mat-form-field>

            <div class="col-1">
              <button id="addCourse" class="personal-details-add-field-button" (click)="addCourse()" type="button" mat-raised-button color="primary">
                <i class="material-icons md-16">add</i>
              </button>
            </div>

            <div class="col-1" *ngIf="addCourses.length > 1 && i > 0">
              <button id="removeCourse" class="personal-details-remove-field-button" (click)="removeCourse()" type="button" mat-raised-button
                color="alert">
                <i class="material-icons md-16">remove</i>
              </button>
            </div>

          </div>

          <!-- CERTIFICATIONS FIELDS ROW -->
          <div *ngFor="let certificate of addCertificates; let i = index" class="col-12 grid languages-row">

            <div class="col-6">
              <input-text id="certificate_{{i}}" name="certificate_{{i}}" placeholder="Cerfitication" ngModel ngDefaultControl>
              </input-text>
            </div>

            <mat-form-field class="col-2">
              <input id="certStartDate_{{i}}" name="certStartDate_{{i}}" [matDatepicker]="certStartDate" placeholder="Start date" readonly
                ngModel matInput>
              <mat-datepicker-toggle matSuffix [for]="certStartDate"></mat-datepicker-toggle>
              <mat-datepicker #certStartDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-2">
              <input id="certEndDate_{{i}}" name="certEndDate_{{i}}" [matDatepicker]="certEndDate" placeholder="End date" readonly ngModel
                matInput>
              <mat-datepicker-toggle matSuffix [for]="certEndDate"></mat-datepicker-toggle>
              <mat-datepicker #certEndDate></mat-datepicker>
            </mat-form-field>

            <div class="col-1">
              <button id="addCertificate" class="personal-details-add-field-button" (click)="addCertificate()" type="button" mat-raised-button
                color="primary">
                <i class="material-icons md-16">add</i>
              </button>
            </div>

            <div class="col-1" *ngIf="addCertificates.length > 1 && i > 0">
              <button id="removeCertificate" class="personal-details-remove-field-button" (click)="removeCertificate()" type="button" mat-raised-button
                color="alert">
                <i class="material-icons md-16">remove</i>
              </button>
            </div>

          </div>

          <div *ngFor="let language of addLanguages; let i = index" class="col-12 grid languages-row">
            <mat-form-field class="col-5">
              <mat-select id="lang_{{i}}" name="lang_{{i}}" placeholder="Language" ngModel ngDefaultControl required>
                <mat-option value="1">English</mat-option>
                <mat-option value="2">Portuguese</mat-option>
                <mat-option value="3">German</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-5">
              <mat-select id="langLevel_{{i}}" name="langLevel_{{i}}" placeholder="Language level" ngModel ngDefaultControl required>
                <mat-option value="1">In training</mat-option>
                <mat-option value="2">Professional</mat-option>
                <mat-option value="3">Native</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="col-1">
              <button id="addLanguage" class="personal-details-add-field-button" (click)="addLanguage()" type="button" mat-raised-button
                color="primary">
                <i class="material-icons md-16">add</i>
              </button>
            </div>

            <div class="col-1" *ngIf="addLanguages.length > 1 && i > 0">
              <button id="removeLanguage" class="personal-details-remove-field-button" (click)="removeLanguage()" type="button" mat-raised-button
                color="alert">
                <i class="material-icons md-16">remove</i>
              </button>
            </div>

          </div>

        </div>

      </mat-card-content>

    </mat-card>

    <button class="personal-details-submit-button" type="submit" mat-raised-button color="primary" [disabled]="!personalDetails.form.valid"
      routerLink="/technologies">
      Next
    </button>


  </form>
</div>