:host {
  .personal-details-section-form {
    max-width: 960px;
    margin: 0 auto 100px;
  }

  .personal-details-section,
  .personal-details-section-confirmation {
    margin-bottom: 25px;
    padding: 0;
    box-shadow: none !important;
    border-bottom: 2px solid #00376d;
    border-left: 2px solid #00376d;
    border-right: 2px solid #00376d;

    .personal-details-header,
    .personal-details-header-confirmation {
      background-color: #00376d;
      text-transform: uppercase;
      font-family: "Geogrotesque", sans-serif;
      font-weight: 600;
      color: #fff;
      font-size: 14px;
      padding: 15px 10px;
    }

    .personal-details-content,
    .personal-details-content-confirmation {
      padding: 25px;
      background-color: #fcfcfc;
    }

    .personal-details-remove-field-button {
      min-width: auto;
      background-color: #000;
      color: #fff;
    }

    .personal-details-add-field-button {
      min-width: auto;
      margin-left: 15px;
      color: #f3a500;
      background-color: #00376d;
    }
  }

  .personal-details-submit-button {
    float: right;
  }
}
