<section class="consultants-section">
  <mat-card class="personal-details-section">
    <mat-card-header class="personal-details-header">
      {{consultantsData.name}} {{consultantsData.surname}}
    </mat-card-header>
    <mat-card-content class="personal-details-content">
      <div class="grid">
        <div class="col-12">
          <div class="col12 grid">
            <div class="col-4">
              <strong>Role:</strong> {{consultantsData.role}}
            </div>
            <div class="col-4">
              <strong>Birth Date:</strong> {{consultantsData.birthDate}}
            </div>
            <div class="col-4">
              <strong>Description:</strong> {{consultantsData.description}}
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="consultantsData.academies?.length > 0">
          <h3>Academic Education</h3>
          <div class="consultants-certifications-section col-12 grid" *ngFor="let academic of consultantsData.academies">
            <div class="col-3">
              <strong>Title:</strong> {{academic.title}}
            </div>
            <div class="col-3">
              <strong>Start date:</strong> {{academic.startDate}}
            </div>
            <div class="col-3">
              <strong>End date:</strong> {{academic.endDate}}
            </div>
            <div class="col-3">
              <strong>Institution:</strong> {{academic.institution}}
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="consultantsData.certifications?.length > 0">
          <h3>Certifications</h3>
          <div class="consultants-certifications-section col-12 grid" *ngFor="let certificate of consultantsData.certifications">
            <div class="col-4">
              <strong>Title:</strong> {{certificate.title}}
            </div>
            <div class="col-4">
              <strong>Start date:</strong> {{certificate.startDate}}
            </div>
            <div class="col-4">
              <strong>End date:</strong> {{certificate.endDate}}
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="consultantsData.courses?.length > 0">
          <h3>Courses</h3>
          <div class="consultants-certifications-section col-12 grid" *ngFor="let course of consultantsData.courses">
            <div class="col-4">
              <strong>Title:</strong> {{course.title}}
            </div>
            <div class="col-4">
              <strong>Start date:</strong> {{course.startDate}}
            </div>
            <div class="col-4">
              <strong>End date:</strong> {{course.endDate}}
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="consultantsData.languages?.length > 0">
          <h3>Languages</h3>
          <div class="consultants-certifications-section col-12 grid" *ngFor="let language of consultantsData.languages">
            <div class="col-6">
              <strong>Language:</strong> {{language.title}}
            </div>
            <div class="col-6">
              <strong>Level:</strong> {{language.level}}
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
