:host {
  .consultants-section {
    max-width: 960px;
    margin: 0 auto 100px;

    .personal-details-section {
      margin-bottom: 25px;
      padding: 0;
      box-shadow: none !important;
      border-bottom: 2px solid #00376d;
      border-left: 2px solid #00376d;
      border-right: 2px solid #00376d;

      h3 {
        padding: 0 10px 0;
        margin: 0;
        border-bottom: 1px solid #00376d;
        font-size: 16px;
        color: #00376d;
      }

      .personal-details-header {
        background-color: #00376d;
        text-transform: uppercase;
        font-family: "Geogrotesque", sans-serif;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
        padding: 15px 10px;
      }

      .personal-details-content {
        padding: 25px;
        background-color: #fcfcfc;
      }

      .consultants-certifications-section {
        padding: 0 10px;
      }
    }
  }
}
