<section class="consultants-section">
    <mat-card class="personal-details-section">
      <mat-card-header class="personal-details-header">
       CONSULTANTS LIST
      </mat-card-header>
      <mat-card-content class="personal-details-content">
        <div class="grid">
          <div class="col-2"><strong>NAME</strong></div>
          <div class="col-2"><strong>SURNAME</strong></div>          
          <div class="col-2"><strong>ROLE</strong></div>
          <div class="col-2"><strong>EMAIL</strong></div>
          <div class="col-2"><strong>PHONE NUMBER</strong></div>
          <div class="col-2"><strong>NATIONALITY</strong></div>

          <div class="col-12 grid" *ngFor="let consultant of consultantsData._embedded.consultants">
              <div class="col-2"><a routerLink="/consultant/{{consultant.consultantId}}">{{consultant.name}}</a></div>
              <div class="col-2">{{consultant.surname}}</div>
              <div class="col-2">{{consultant.role}}</div>
              <div class="col-2">{{consultant.email}}</div>
              <div class="col-2">{{consultant.phoneNumber}}</div>
              <div class="col-2">{{consultant.nationality}}</div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
</section>
