/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 10.625em;
}

mat-form-field {
  width: 100%;
}

header {
  height: 100px;
  top: 0;

  .header-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.app-wrapper {
  margin: 0 auto;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~gridlex/src/gridlex.scss';

// components
@import './app/components/input-text/input-text.component.scss';
@import './app/components/input-email/input-email.component.scss';
@import './app/components/input-select/input-select.component.scss';

// sections
@import './app/sections/footer/footer.section';
