<html>
<head>
	<title>Get LinkedIn App</title>
</head>
<body>
<h3><span th:text="${linkedInProfile.firstName}"></span> <span th:text="${linkedInProfile.lastName}"></span></h3>
<h4><span th:text="${linkedInProfile.publicProfileUrl}"></span></h4>
<h4><span th:text="${linkedInProfile.emailAddress}"></span></h4>
<h4><span th:text="${linkedInProfile.industry}"></span></h4>
</body>
</html>